%% -*- mode: erlang; -*-

{erl_opts, [fail_on_warning, debug_info, warn_unused_import, warn_exported_vars]}.
{deps, [{gen_smtp, ".*", {git, "git://github.com/Vagabond/gen_smtp.git", {branch, "cowboy-protocol"}}},
				{neotoma, ".*", {git, "git://github.com/Vagabond/neotoma.git", "HEAD"}},
				{dh_date, ".*", {git, "git://github.com/daleharvey/dh_date.git", "HEAD"}}
				]}.
{cover_enabled, true}.
{cover_print_enabled, true}.

{pre_hooks, [{compile, "erl -noshell -noinput -pa deps/neotoma/ebin -eval \"neotoma:file(\\\"src/imap_parser.peg\\\"),halt().\""}]}.

